{% extends "base.html.twig" %}


{% block body %}
    <h2>Analisador Léxico / Sintático</h2>
    <form method="post" action="{{ path('home') }}">

        <div class="form-group">
            <textarea class="form-control" id="campoMensagem" name="mensagem" placeholder="Digite o codigo" required>{{ mensagem }}</textarea>
        </div>
        <button class="btn btn-success" id="btn" type="submit">Analisar</button>
    </form>
    {% if errorLexico != null %}
        <h3 class="text-danger display-4">
            ERRO!
        </h3>
        <hr class="my-4">
        <h4>Erro Léxico
            <strong>"{{errorLexico.msg}}"</strong>, linha:
            <strong>{{errorLexico.lineCodeError}}</strong>{% if (not errorLexico.currentChar is empty) %}, Caractere:
            <strong>{{errorLexico.currentChar }}</strong> {% endif %}
        </h4>
        <hr class="my-4">
    {% elseif listTokens|length > 0 %}

        <p class="alert-success">Compilação lexica Finalizada</p>

        <p>
            <a class=" btn-primary btn"  id="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ver Tabela de Tokens</a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>TOKEN</th>
                        <th>LEXEMA</th>
                        <th>DESCRIÇÃO</th>
                    </thead>
                    <tbody>

                        {% for token in listTokens %}
                            <tr>
                                <td>{{ token.code }}</td>
                                <td>{{ token.name }}</td>
                                <td>{{ token.description }}</td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if errorSintatico != null %}
            <h3 class="text-danger display-4">
                ERRO!
            </h3>
            <hr class="my-4">
            <h4>Erro Sintático
                <strong>"{{errorSintatico.msg}}"</strong>
                {% if (not errorSintatico.lineCodeError is empty) %}
                    , linha:
                    <strong>{{errorSintatico.lineCodeError}}</strong>
                {% endif %}
                {% if (not errorSintatico.currentChar is empty) %}
                    , Caractere:
                    <strong>{{errorSintatico.currentChar }}</strong>
                {% endif %}
            </h4>
            <hr class="my-4">
        {% else %}
            <p class="alert-success">Compilação Sintática Finalizada</p>
        {% endif %}
    {% endif %}
{% endblock %}
